In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os, sys

os.getcwd()
rpath = os.path.abspath('../')
if rpath not in sys.path:
    sys.path.insert(0,rpath)

In [3]:
data_path = os.path.join(rpath,'data','processed_data.csv')
data = pd.read_csv(data_path)
data.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,...,TransactionAmountStdDev,Date,dy,month,year,ProductCategory_Encoded,CurrencyCode_Encoded,ChannelId_Encoded,Amount_Normalized,Value_Normalized
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,airtime,...,3042.294251,2018-11-15,15,11,2018,0,0,2,0.092004,0.000101
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,financial_services,...,3042.294251,2018-11-15,15,11,2018,2,0,1,0.091910,0.000002
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,airtime,...,0.000000,2018-11-15,15,11,2018,0,0,2,0.091958,0.000050
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,CustomerId_988,UGX,256,ProviderId_1,ProductId_21,utility_bill,...,17169.241610,2018-11-15,15,11,2018,8,0,2,0.093750,0.002206
4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,ProductId_6,financial_services,...,17169.241610,2018-11-15,15,11,2018,2,0,1,0.091853,0.000065